@model IList<AppointmentsViewModel>

@{
    Layout = null;
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<h2 class="text-center mb-4 pt-4 pb-4 bgcolor">Booked Appointments</h2>


<table class="mx-auto table center-table ">
    <thead>
        <tr>
            <th scope="col">Appointment ID</th>
            <th scope="col">Date</th>
            <th spoce="col">Doctor's Lastname</th>
            <th spoce="col">Speciality</th>
            <th spoce="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.date >= DateOnly.FromDateTime(DateTime.Now))
            {
                <tr>
                    <td>@item.appointmentId</td>
                    <td>@item.date</td>
                    <td>@item.doctorLastname</td>
                    <td>@item.Speciality</td>
                    <td>
                        <form asp-action="Delete" asp-controller="FutureAppointments" method="post">
                            <input type="hidden" name="id" value="@item.appointmentId" />
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
            }

        }
    </tbody>
    </tbody>
</table>
<form asp-action="BackToPatient" asp-controller="FutureAppointments">
    <button type="submit" class="btn btn-secondary btn-lg mb-4">Back</button>
</form>


<style>
    .bgcolor {
        background-color: #315a39;
        color: white;
    }
</style>

